/*****ESTILO COD****/
/*****GENERAL*****/
html {
  scroll-behavior: smooth;
}

#wrapper {width:96%;       
  margin:0 auto;  
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;}
  

  @media only screen and (max-width:800px){
    #wrapper {width:100%;
    padding: 0;}
 }

/***********TOP NAV***********/
nav {position:sticky;
  top:0;
  z-index:99;}
  
.topnav {
 overflow: hidden;
 background-color: #333;
}

.topnav a {
 float: left; 
 color: #000000;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size:120%;
 height: 100%;
}
.topnav img{
  width: 50px;
  height: 25px;
}

.topnav p{margin: 0;}

.active {
 background-color:red;
 color: white;
}

.topnav .icon {
 display: none;
 height: 100%;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*****HEADER********HERO TEXT****/
header {position:relative;
  background-image: url("../imagenes/fondowrapper.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right;
  height:100vh;}

.texto-hero {color:white;
            background-color: rgba(0, 0, 0, 0.5);
            font-size:150%;
            position:absolute;
            top:20%;
            right:10%;
            padding:5%;
            padding-top:0;
            padding-bottom:2%;
            border-radius:50px;
            text-align:center;
          }
.texto-hero h3{
  padding: 0;
  margin-bottom: 10px;
  font-family: 'coda Caption',sans-serif;
}

.texto-hero p{
  margin-top: 0;
  margin-bottom: 10%;
}

.texto-hero a {color:black;
            padding:10px;
            border-radius:10px;
            background-color:rgb(255, 255, 255);
            text-decoration:none;
            text-align: center;}
         
.texto-hero a:hover {background-color: rgb(0,0,0);
                    color:white;}

  /************************************/
 /****ESTILO SECCIONES --> GENERAL***/
/**********************************/
.bloque {border: 10px solid rgb(44, 44, 44);
        border-top: 0;
        padding: 0.5%;}
.bloque h1{font-family: 'Coda Caption', sans-serif;}

/*ESTILO DE SECCION HISTORIA*/
#history h1{text-align: center;}

.titulo-secciones { text-align:center;
  width:auto;
  padding:0%;
  padding:0%;
  padding-top: 6%;
  margin:0% auto;
  text-decoration: underline;}
.titulo-subsecciones { text-align:center;
  padding:0%;
  padding:0%;
  margin:0% auto;
  text-decoration: underline;}
.titulo-subsecciones img {width: 10%;}

.final {clear:both;} /*PARA TERMINAR EL FLOAT*/

/*********COLUMNAS*************/
.tercios {margin-top:10px ;
width:29%;
padding-right:2%;
padding-left:2%;
text-align:justify;
float:left;}

#tres-uno, #tres-tres {background-color: rgb(63, 62, 62);
                        color:white;}

@media only screen and (max-width:800px){
.tercios {width:97%;
          margin-right: 1%;
          padding: 10px;}
}

  /*********************************************************/
 /**********ZONA INFINITY WARD → SLIDE IN OVERLAY**********/
/*********************************************************/
.container {
  position: relative;
  width: 24%;
  padding: 0.25%;
  float: left;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(160, 1, 1, 0.493);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
@media only screen and (max-width:900px){
  #infinity .container{width: 49%;}
  }
@media only screen and (max-width:500px){
  #infinity .container{width: 99%;}
  }
  /************************************/
 /*********GALERIA ZONA TREYARCH******/
/************************************/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-galeria {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*********TERMINA GALERIA****************/

  /************************************/
 /*********ACRDEÓN ZONA SLED**********/
/************************************/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion .active, .accordion:hover {
  background-color: #ccc; 
}
button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel img {float:left;
            margin: 0;
            padding: 0;
            width: 100%;
            }

  /************************************/
 /*****ESTILO COMPARACION GRAFICA*****/
/************************************/
.img-comp-container {
  position: relative;
  height:100vh;
  width: 100vw; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
/********PARA QUE SEA RESPONSIVE*/
.responsive {
  text-align: center;
  height:100vh;
  width: 90vw;}

  /************************************/
 /*****FOOTER - MAPA Y CONTACTO*******/
/************************************/

#mapa {
  padding:2%;}
#mimapa {
    display:block;
    margin:10% auto;
    margin-top: 2%;}
dl {margin-top:0;}
dt {font-weight:bold;
font-size:120%;
margin-bottom:1%;}
#info {padding:4%;}

.mitad {width:50%;
  padding:10%;
  text-align:justify;
  float:left;}